{% extends 'base.html' %}

{% block content %}
<div class="container-fluid my-0 px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?cake,vanilla" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome to the best Cake's Shop of the Siwan</h5>
                <p>I know you love to eat Cake but you haven't eaten my shop's Cakes. So, please  eat myshop's Cakes</p>
            </div>
        </div>
    </div>
</div>

<div class="container my-4" >
    <h1 class="my-4  text-center"> List of Cake in My Shop</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://source.unsplash.com/400x300/?Cakes,tasty" class="d-block w-100" alt="...">
          
                  <div class="card-body">
                    <p class="card-text"><b>Vanilla</b> is a splendid cake is splendid and also a common cake which is ordered amongst the older generation. It is one of the oldest and loved the flavour of all time.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://source.unsplash.com/400x300/?cakes,Strawberry" class="d-block w-100" alt="...">
          
                  <div class="card-body">
                    <p class="card-text"><b>Strawberry</b> is a splendid cake is splendid and also a common cake which is ordered amongst the older generation. It is one of the oldest and loved the flavour of all time.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://source.unsplash.com/400x300/?cake,papaya" class="d-block w-100" alt="...">
          
                  <div class="card-body">
                    <p class="card-text"><b>Papaya Cakes</b> is a splendid cake is splendid and also a common cake which is ordered amongst the older generation. It is one of the oldest and loved the flavour of all time.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="https://source.unsplash.com/400x300/?Cakes,mango" class="d-block w-100" alt="...">
          
                  <div class="card-body">
                    <p class="card-text"><b>Mango Cakes</b> is a splendid cake is splendid and also a common cake which is ordered amongst the older generation. It is one of the oldest and loved the flavour of all time.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}

